.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #22092c;
  height: 70px;
}
.link {
  text-decoration: none;
  color: #f05941;
}
